#card_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  visibility: hidden;
  transition: 0.25s;
}
#card_movie:hover #card_overlay {
  visibility: visible;
}
#card_movie img {
  transition: 0.25s;
}
#card_movie:hover img {
  transform: scale(1.06);
}

#card_overlay svg {
  color: white;
  height: 40px;
  width: 40px;
  /* transition: 0.1s; */
}
#card_overlay button:hover svg {
  color: rgba(255, 0, 0,0.4);
}

.ant-card-body {
  padding: 12px;
}
.slick-prev::before,.slick-next::before{
  display: none;
}
