* {
    box-sizing: border-box;
  }
  
  .session{
    margin: 0 auto;
    padding-top: 100px;
    width: 100%;
    max-width: 1140px;
    min-height: 600px;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .session .container{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #fff;
    box-shadow: 0 0 5px #999999;
  }
  .column_right, .column_left{
    display: flex;
    padding: 25px;
  }
  .column_right{
    text-align: right;
    width: 55%;
    clip-path: polygon(0 0,100% 0, 100% 100%);
    background: #0C2243;
  }
  .column_left{
    width: 45%;
  }
  .signup_right{
    position: relative;
    width: 100%;
    color: #fff;
  }
  .signup_right h2{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
  
  }
  .signup_right p{
    font-weight: 500;
    letter-spacing: 1px;
  }
  .signup_right button{
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #0C2243;
    cursor: pointer;
    transition: 0.25s;
  }
  .signup_right button:hover{
    color: #0C2243;
    background: #fff;
  }
  .column_left .signup_form{
    position: relative;
    width: 100%;
  }
  .signup_form h2{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
  }
  
  .signup_form input{
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    transition: 0.25s;
  }
  .signup_form input:focus{
    border-color: #0C2243;
  }
  .signup_form button{
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #0C2243;
    background: #fff;
    color: #0C2243;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
  }
  .signup_form button:hover{
    background: #0C2243;
    color: #fff;
  }

  @media screen and (max-width:580px){
    .session{
      margin: 0 auto;
    }
    .container{
      flex-direction: column-reverse;
      box-shadow: none;
    }
    .column_right, .column_left{
      width: 100%;
      margin: 0;
      clip-path: none;
    }
  }