.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab{
    margin: 0;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab{
    padding: 8px;
}
#cinemaSystem{
    margin: 0 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}