#card_movieList{
    margin: 0 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#clipPath_content{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
}