@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.sidebar{
  box-sizing: border-box;
  /* width: 46px; */
  width: 192px;
  padding: 12px;
  position:fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  /* background: #0C2243; */
  color: white;
  white-space: nowrap;
  transition: 0.25s;
  overflow: hidden;
}
.sidebar li{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 0;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  transition: 0.25s;
}
.sidebar #movieList{
  border-top: 2px solid rgba(255,255,255,.4);
}
.sidebar li:hover{
  padding-left: 8px;
}
.sidebar svg{
  /* display: block; */
  width: 24px;
  height: 24px;
  overflow: visible;
}
.sidebar span{
  font-weight: 600;
  margin: 0px 12px;
  text-align: left;
  transition: 0.25s;
  cursor: pointer;
}
a:hover{
  color: white;
}
/* .sidebar:hover{
  width: 192px;
} */