* {
  box-sizing: border-box;
}
/* body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
  margin: 0;
} */
.session{
  margin: 0 auto;
  padding-top: 100px;
  width: 100%;
  max-width: 1140px;
  /* min-height: 600px; */
  height: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.session .container{
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  background: #fff;
  box-shadow: 0 0 5px #999999;
}
.column_left, .colum_right{
  display: flex;
  padding: 25px;
}
.column_left{
  text-align: left;
  width: 55%;
  clip-path: polygon(0 0,0 100%, 100% 0);
  background: #0C2243;
}
.colum_right{
  width: 45%;
}
.login_left{
  position: relative;
  width: 100%;
  color: #fff;
}
.login_left h2{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;

}
.login_left p{
  font-weight: 500;
  letter-spacing: 1px;
}
.login_left button{
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #0C2243;
  cursor: pointer;
  transition: 0.25s;
}
.login_left button:hover{
  color: #0C2243;
  background: #fff;
}
.colum_right .login_form{
  position: relative;
  width: 100%;
}
.login_form h2{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}
/* .login_form div{
  margin-bottom: 16px;
} */
.login_form label{
  letter-spacing: 0.5px;
}
.login_form span{
  color: red;
}
/* .login_form input{
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 2px;
  border:1px solid #999999;
  border-radius: 5px;
  transition: 0.25s;
} */
.login_form input:focus{
  border-color: #0C2243;
}
.login_form button{
  width: 100%;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #0C2243;
  background: #fff;
  color: #0C2243;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}
.login_form button:hover{
  background: #0C2243;
  color: #fff;
}
@media screen and (max-width:580px){
  .session{
    margin: 0 auto;
  }
  .container{
    flex-direction: column;
    box-shadow: none;
  }
  .column_left, .colum_right{
    width: 100%;
    margin: 0;
    clip-path: none;
  }
}