.banner{
    margin: 0 192px;
}
.slick-slide {
    height: auto;
    max-height: 800px;
}
.slick-dots{
    bottom: 20px!important;
}
.slick-dots li button::before{
    font-size: 8px!important;
    color: white!important;
    opacity: 1!important;
}
.slick-dots li.slick-active button:before{
    color: red!important;
    font-size: 14px!important;
}